[project]
	description = A simple Android app to aid in underwater navigation.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Thomas Nourse (tgnourse)
[access "refs/for/refs/*"]
	read = group user/Thomas Nourse (tgnourse)
	push = group user/Thomas Nourse (tgnourse)
	label-Code-Review = -2..+2 group user/Thomas Nourse (tgnourse)
	label-Verified = -1..+1 group user/Thomas Nourse (tgnourse)
	rebase = group user/Thomas Nourse (tgnourse)
	removeReviewer = group user/Thomas Nourse (tgnourse)
	submit = group user/Thomas Nourse (tgnourse)
[access "refs/heads/*"]
	read = group user/Thomas Nourse (tgnourse)
	create = group user/Thomas Nourse (tgnourse)
	push = +force group user/Thomas Nourse (tgnourse)
	pushMerge = group user/Thomas Nourse (tgnourse)
[access "refs/tags/*"]
	push = +force group user/Thomas Nourse (tgnourse)
	pushTag = group user/Thomas Nourse (tgnourse)
	pushSignedTag = group user/Thomas Nourse (tgnourse)
